<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CV</title>
</head>
<body>
  <p> Bonjour</p>
<p>
    Je m'appelle {{ name }} {{ firstname  }} <br>
    J'ai {{ age }} ans <br> Et je suis de la section {{ section }}

</p>
</body>
</html>