{% extends 'layout.html.twig' %}

{% block title %}
    Todo
{% endblock %}
{% block body %}
    {{ parent() }}
    <h1>Liste des Todos</h1>

    <ol class="list-group">
        {% for name, description in app.session.get('todos') %}
            <li class="list-group-item">
                {{ name }} : {{ description }}
            </li>
        {% endfor %}
    </ol>
{% endblock %}